# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Crash logs
crash.log
crash.*.log

# IDE settings
.idea/
.vscode/

# OS and editor junk
*.DS_Store
*~
*.swp

# Executables
#terraform-wrapper.sh